# ─── Servidor ───────────────────────────────
PORT=3000
NODE_ENV=development

# ─── PostgreSQL ──────────────────────────────
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce_books
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DATABASE_URL="postgresql://postgres:tu_password_aqui@localhost:5432/ecommerce_books?schema=public"

# ─── JWT ─────────────────────────────────────
JWT_SECRET=cambia_esto_por_una_cadena_aleatoria_segura_minimo_32_caracteres
JWT_EXPIRES_IN=24h

# ─── CORS ────────────────────────────────────
CORS_ORIGIN=http://localhost:5500

# ─── Stripe ──────────────────────────────────
STRIPE_SECRET_KEY=sk_test_...tu_clave_secreta...
STRIPE_WEBHOOK_SECRET=whsec_...tu_webhook_secret...
STRIPE_SUCCESS_URL=http://localhost:3000/pages/order-confirmation.html?session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=http://localhost:3000/pages/cart.html

# ─── Prisma Shadow DB ────────────────────────
# Crea la BD manualmente: CREATE DATABASE ecommerce_books_shadow;
SHADOW_DATABASE_URL="postgresql://postgres:tu_password_aqui@localhost:5432/ecommerce_books_shadow?schema=public"
